@font-face {
    font-family: 'Bungee';
    src: url('/assets/font/Bungee/Bungee-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Bungee', sans-serif;
    background-image: linear-gradient(to top right, rgb(255, 0, 234), rgb(66, 66, 192));
    z-index: 0;
}


.snake {
    background-color: #414141;
}

#game-board {
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(20, 48px);
    grid-template-rows: repeat(20, 48px);
    background-color: #eee;
    opacity: 0.6;
}

#instruction-text {
    position: absolute;
    top: 60%;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;

}

.scores {
    display: flex;
    justify-content: space-between;
}

#score {
    color: #abb78a;
}

#score,
#highScore {
    font-size: 1.6em;
    /* Verkleinert für kleinere Auflösung */
    font-weight: bolder;
}

#highScore {
    color: #d8ddca;
    display: none;
}

.game-border-3,
#logo {
    background-color: #c4cfa3;
}

.snake {
    border: #5a5a5a 1px dotted;
}

.food {
    background-color: #dedede;
    border: #999 4px solid;
    /* Verkleinert für kleinere Auflösung */
}

#logo {
    position: absolute;
}